Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

pyright:
  name: Pyright type check
  entry: bash -c 'cd packages/python && uv run pyright'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript check
  entry: bash -c 'cd packages/react && npm run typecheck'
  language: system
  pass_filenames: false

fix: harden tenant isolation — fail closed, add missing tests, remove dead params
  packages/python/prismiq/executor.py
  packages/python/prismiq/sql_validator.py
  packages/python/tests/test_executor.py
Due: pyright

feat: multi-tenant schema isolation with integration tests (#60)
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/sql_validator.py
  packages/python/tests/test_executor.py
  packages/python/tests/test_multi_tenant_integration.py
  uv.lock
Due: pyright

chore: bump versions to 0.2.3
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

chore: bump versions to 0.2.3 (#61)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Use subquery filtering for table joins
  packages/python/prismiq/query.py
Due: pyright

Fixed missing columns
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

Review changes
  packages/python/prismiq/query.py
Due: pyright

Dashboard filter support
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/FilterEditor.tsx
  packages/react/src/dashboard/DashboardEditor/index.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/index.ts
Due: tsc

Use subquery filtering for table joins (#62)
  packages/python/prismiq/query.py
Due: pyright

Fixed missing columns (#63)
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

Updated versions
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Updated versions (#65)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Dashboard filter support
  packages/react/src/dashboard/filters/FilterBar.tsx
  packages/react/src/dashboard/filters/NumberRangeFilter.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

Project bug fixes
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

Null currency fix
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
Due: tsc

Added confirmation modal on widget type change
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

Enchacements
  packages/python/prismiq/query.py
  packages/python/prismiq/types.py
  packages/react/src/components/FilterBuilder/FilterBuilder.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/components/FilterBuilder/datePresets.ts
  packages/react/src/components/FilterBuilder/index.ts
  packages/react/src/components/ui/Select.tsx
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/dashboard/DashboardEditor/GuidedDataConfig.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/FiscalYearSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TableConfig.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
Due: pyright, tsc

Review changes
  packages/react/src/dashboard/DashboardEditor/FilterEditor.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/filters/NumberRangeFilter.tsx
Due: tsc

Review changes
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/FilterEditor.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
  packages/react/src/dashboard/filters/MultiSelectFilter.tsx
  packages/react/src/dashboard/filters/NumberRangeFilter.tsx
  packages/react/src/dashboard/filters/TextFilter.tsx
  packages/react/src/dashboard/filters/useDynamicFilterOptions.ts
Due: tsc

Dashboard filter support (#64)
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/FilterEditor.tsx
  packages/react/src/dashboard/DashboardEditor/index.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
  packages/react/src/dashboard/filters/FilterBar.tsx
  packages/react/src/dashboard/filters/MultiSelectFilter.tsx
  packages/react/src/dashboard/filters/NumberRangeFilter.tsx
  packages/react/src/dashboard/filters/TextFilter.tsx
  packages/react/src/dashboard/filters/useDynamicFilterOptions.ts
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
Due: tsc

Review changes
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
Due: pyright, tsc

Review changes
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

Review changes
  packages/python/prismiq/dashboard_store.py
Due: pyright

Project bug fixes (#66)
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

Review changes
  packages/python/prismiq/query.py
  packages/react/src/components/ui/Select.tsx
Due: pyright, tsc

Review changes
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/ColumnSelector/ColumnSelector.tsx
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/components/ui/Dropdown.tsx
Due: tsc

Review changes
  packages/python/prismiq/dashboards.py
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ColumnValueFormattingSection.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

Enchacements (#67)
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/query.py
  packages/python/prismiq/types.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/ColumnSelector/ColumnSelector.tsx
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/components/FilterBuilder/FilterBuilder.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/components/FilterBuilder/datePresets.ts
  packages/react/src/components/FilterBuilder/index.ts
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/components/ui/Select.tsx
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/dashboard/DashboardEditor/GuidedDataConfig.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ColumnValueFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/FiscalYearSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TableConfig.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
Due: pyright, tsc

Updated versions (#68)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Calculated field enhancements
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/FilterBuilder/FilterBuilder.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

Calculated field enhancements
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
Due: tsc

Calculated field enhancements
  packages/react/src/components/FilterBuilder/FilterRow.tsx
Due: tsc

Calculated field enhancements (#69)
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/FilterBuilder/FilterBuilder.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

Updated react package version
  packages/react/package.json
Due: none

Updated react package version (#70)
  packages/react/package.json
Due: none

Path conditions:
  pyright: any of: ^packages/python/.*\.py$
  tsc: any of: ^packages/react/.*\.(ts|tsx)$
