Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

feat: add Prometheus-compatible metrics system
  packages/python/prismiq/metrics.py
  packages/python/tests/test_metrics.py
Due: pyright

feat: integrate cache, metrics, and logging into engine
  packages/python/prismiq/__init__.py
  packages/python/prismiq/engine.py
Due: pyright

feat: add skeleton loading components
  packages/react/src/components/Skeleton/Skeleton.tsx
  packages/react/src/components/Skeleton/SkeletonChart.tsx
  packages/react/src/components/Skeleton/SkeletonMetricCard.tsx
  packages/react/src/components/Skeleton/SkeletonTable.tsx
  packages/react/src/components/Skeleton/SkeletonText.tsx
  packages/react/src/components/Skeleton/index.ts
  packages/react/src/components/index.ts
Due: tsc

feat: add error boundary components
  packages/react/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/react/src/components/ErrorBoundary/ErrorFallback.tsx
  packages/react/src/components/ErrorBoundary/WidgetErrorBoundary.tsx
  packages/react/src/components/ErrorBoundary/index.ts
  packages/react/src/components/index.ts
Due: tsc

feat: add empty state components
  packages/react/src/components/EmptyState/EmptyDashboard.tsx
  packages/react/src/components/EmptyState/EmptyState.tsx
  packages/react/src/components/EmptyState/NoData.tsx
  packages/react/src/components/EmptyState/NoResults.tsx
  packages/react/src/components/EmptyState/index.ts
  packages/react/src/components/index.ts
Due: tsc

feat: add export utilities (CSV, Excel, useExport hook)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/export/csv.ts
  packages/react/src/export/excel.ts
  packages/react/src/export/index.ts
  packages/react/src/export/types.ts
  packages/react/src/export/useExport.ts
Due: tsc

feat: add accessibility, SSR support, and bundle optimization (Week 5 tasks 7-10)
  .claude/state/progress.md
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/ssr/index.ts
  packages/react/src/utils/accessibility.ts
  packages/react/src/utils/index.ts
  packages/react/tsup.config.ts
Due: tsc

feat: add complete demo implementation
  Makefile
  examples/demo/.env.example
  examples/demo/.gitignore
  examples/demo/README.md
  examples/demo/backend/__init__.py
  examples/demo/backend/main.py
  examples/demo/backend/seed_dashboards.py
  examples/demo/backend/seed_data.py
  examples/demo/docker-compose.yml
  examples/demo/frontend/index.html
  examples/demo/frontend/package-lock.json
  examples/demo/frontend/package.json
  examples/demo/frontend/public/vite.svg
  examples/demo/frontend/src/App.tsx
  examples/demo/frontend/src/components/Layout.tsx
  examples/demo/frontend/src/main.tsx
  examples/demo/frontend/src/pages/DashboardPage.tsx
  examples/demo/frontend/src/pages/ExplorePage.tsx
  examples/demo/frontend/src/pages/SchemaPage.tsx
  examples/demo/frontend/tsconfig.json
  examples/demo/frontend/tsconfig.node.json
  examples/demo/frontend/vite.config.ts
Due: none

docs: update progress with demo implementation status
  .claude/state/progress.md
Due: none

fix: align demo seeding with Pydantic model field names
  examples/demo/backend/seed_dashboards.py
  examples/demo/backend/seed_data.py
Due: none

fix: correct react-grid-layout import for Responsive and WidthProvider
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
Due: tsc

fix: use react-grid-layout/legacy for WidthProvider and Responsive
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
Due: tsc

fix: resolve widget query execution errors
  examples/demo/backend/main.py
  examples/demo/backend/seed_dashboards.py
  packages/python/prismiq/executor.py
Due: pyright

fix: remove strict mode from Pydantic models for JSON compatibility
  packages/python/prismiq/types.py
Due: pyright

fix: use Dashboard component to render actual widget data
  examples/demo/frontend/src/pages/DashboardPage.tsx
Due: none

feat: add JoinBuilder and fix UI bugs
  examples/demo/frontend/src/App.tsx
  examples/demo/frontend/src/main.tsx
  examples/demo/frontend/src/pages/ExplorePage.tsx
  examples/demo/frontend/vite.config.ts
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/query.py
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/api/client.ts
  packages/react/src/components/JoinBuilder/JoinBuilder.tsx
  packages/react/src/components/JoinBuilder/JoinRow.tsx
  packages/react/src/components/JoinBuilder/index.ts
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: pyright, tsc

docs: update Claude Code config with learnings
  .claude/settings.json
  .claude/skills/analytics-patterns/SKILL.md
  .claude/skills/sprint/skill.md
  CLAUDE.md
Due: none

chore: remove custom agents, use plugins instead
  .claude/agents/code-reviewer.md
  .claude/agents/orchestrator.md
  .claude/agents/python-implementer.md
  .claude/agents/react-developer.md
  .claude/agents/test-writer.md
  .claude/skills/sprint/skill.md
  CLAUDE.md
Due: none

docs: add phased task definitions for autonomous development
  CLAUDE.md
  tasks/phase0-e2e-testing.md
  tasks/phase1-database-persistence.md
  tasks/phase2-multi-tenancy.md
  tasks/phase3-dashboard-management-ui.md
  tasks/phase4-layout-persistence.md
  tasks/phase5-advanced-features.md
Due: none

docs: add code patterns and update roadmap for autonomous execution
  CLAUDE.md
  ROADMAP.md
Due: none

feat: add PostgreSQL dashboard persistence with tenant isolation
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/setup.py
  packages/python/prismiq/persistence/tables.py
  packages/python/tests/test_dashboard_store.py
Due: pyright

feat: add multi-tenant authentication and permissions
  examples/basic-dashboard/frontend/App.tsx
  examples/demo/frontend/src/App.tsx
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/cache.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/permissions.py
  packages/python/tests/test_multi_tenancy.py
  packages/react/src/api/client.ts
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/context/index.ts
Due: pyright, tsc

feat: add dashboard management UI components (Phase 3)
  examples/demo/frontend/src/pages/DashboardPage.tsx
  packages/react/src/api/client.ts
  packages/react/src/components/index.ts
  packages/react/src/components/ui/Dialog.tsx
  packages/react/src/components/ui/Icon.tsx
  packages/react/src/components/ui/index.ts
  packages/react/src/dashboard/DashboardList/DashboardCard.tsx
  packages/react/src/dashboard/DashboardList/DashboardDialog.tsx
  packages/react/src/dashboard/DashboardList/DashboardList.tsx
  packages/react/src/dashboard/DashboardList/index.ts
  packages/react/src/dashboard/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDashboard.ts
  packages/react/src/hooks/useDashboardMutations.ts
  packages/react/src/hooks/useDashboards.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
Due: tsc

feat: add layout persistence with auto-save (Phase 4)
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/react/src/components/AutoSaveIndicator/AutoSaveIndicator.tsx
  packages/react/src/components/AutoSaveIndicator/index.ts
  packages/react/src/components/index.ts
  packages/react/src/dashboard/DashboardLayout/EditableDashboardLayout.tsx
  packages/react/src/dashboard/DashboardLayout/index.ts
  packages/react/src/dashboard/Widget/WidgetContainer.tsx
  packages/react/src/dashboard/Widget/index.ts
  packages/react/src/dashboard/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDashboard.ts
  packages/react/src/hooks/useDebouncedLayoutSave.ts
Due: pyright, tsc

feat: add cross-filtering support for dashboard widgets
  packages/react/src/charts/AreaChart/AreaChart.tsx
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/context/CrossFilterContext.tsx
  packages/react/src/context/index.ts
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

feat: add saved queries feature (Phase 5.2)
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/tables.py
  packages/python/prismiq/types.py
  packages/react/src/api/client.ts
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/components/SavedQueryPicker/SavedQueryPicker.tsx
  packages/react/src/components/SavedQueryPicker/index.ts
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSavedQueries.ts
  packages/react/src/types.ts
Due: pyright, tsc

fix: resolve saved queries and widget editor bugs
  examples/demo/backend/main.py
  examples/demo/frontend/src/pages/DashboardPage.tsx
  examples/demo/frontend/src/pages/ExplorePage.tsx
  packages/python/prismiq/api.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/engine.py
  packages/react/src/api/client.ts
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditor.tsx
  packages/react/src/index.ts
Due: pyright, tsc

docs: update roadmap to reflect current implementation status
  ROADMAP.md
Due: none

feat: add Custom SQL execution with validation
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/sql_validator.py
  packages/python/pyproject.toml
  packages/react/src/api/client.ts
  packages/react/src/components/CustomSQLEditor/CustomSQLEditor.tsx
  packages/react/src/components/CustomSQLEditor/index.ts
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useCustomSQL.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
  uv.lock
Due: pyright, tsc

tasks
  .playwright-mcp/dashboard-detail.png
  .playwright-mcp/widget-editor.png
  tasks/demo-implementation.md
  tasks/week2-python.md
  tasks/week2-react.md
  tasks/week3-python.md
  tasks/week3-react.md
  tasks/week4-python.md
  tasks/week4-react.md
  tasks/week5-python.md
  tasks/week5-react.md
Due: none

feat: add full-page widget editor with live preview
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
  packages/react/src/dashboard/DashboardEditor/index.ts
  packages/react/src/dashboard/index.ts
Due: tsc

feat: add guided data configuration for widgets
  packages/react/src/dashboard/DashboardEditor/GuidedDataConfig.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TableConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
  packages/react/src/dashboard/DashboardEditor/index.ts
Due: tsc

fix: enable scrolling in QueryBuilder and widget editor data source panel
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

Remove files not required
  .playwright-mcp/dashboard-detail.png
  .playwright-mcp/widget-editor.png
Due: none

feat: add UX quick wins from Metabase/Superset comparison
  packages/python/prismiq/schema.py
  packages/python/prismiq/types.py
  packages/react/src/charts/AreaChart/AreaChart.tsx
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/components/QueryBuilder/QueryBuilderToolbar.tsx
  packages/react/src/components/ResultsTable/ResultsTable.tsx
  packages/react/src/components/SchemaExplorer/ColumnNode.tsx
  packages/react/src/components/SchemaExplorer/TableNode.tsx
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/types.ts
Due: pyright, tsc

fix: resolve infinite re-render loop in ResultsTable
  packages/react/src/components/ResultsTable/ResultsTable.tsx
Due: tsc

feat: add sample data preview on column hover
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/react/src/api/client.ts
  packages/react/src/components/SchemaExplorer/ColumnNode.tsx
Due: pyright, tsc

feat: implement drill-down cross-filtering from charts
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

feat: add dynamic dashboard filter options
  packages/react/src/dashboard/filters/MultiSelectFilter.tsx
  packages/react/src/dashboard/filters/SelectFilter.tsx
  packages/react/src/dashboard/filters/index.ts
  packages/react/src/dashboard/filters/useDynamicFilterOptions.ts
  packages/react/src/dashboard/types.ts
Due: tsc

Package changes
  packages/react/package-lock.json
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/EChartWrapper.tsx
  packages/react/src/charts/types.ts
  packages/react/src/charts/utils.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: tsc
