Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

pyright:
  name: Pyright type check
  entry: bash -c 'cd packages/python && uv run pyright'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript check
  entry: bash -c 'cd packages/react && npm run typecheck'
  language: system
  pass_filenames: false

Package changes
  packages/python/prismiq/calculated_fields.py
  packages/python/prismiq/types.py
  packages/react/src/charts/MetricCard/MetricCard.tsx
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/charts/utils.ts
  packages/react/src/components/ResultsTable/Pagination.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
  packages/react/src/utils/dateFormat.ts
  packages/react/src/utils/index.ts
Due: pyright, tsc

Package changes
  packages/python/BUILD
Due: none

Package changes
  packages/react/src/charts/AreaChart/AreaChart.tsx
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/charts/utils.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/pivot.ts
Due: tsc

Package changes
  packages/python/prismiq/__init__.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

Package changes
  packages/python/prismiq/calculated_fields.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: pyright, tsc

Package changes
  packages/python/prismiq/sqlalchemy_builder.py
  packages/react/src/charts/MetricCard/MetricCard.tsx
  packages/react/src/charts/types.ts
  packages/react/src/charts/utils.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: pyright, tsc

Hyperlink support
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

Package changes
  packages/python/prismiq/calculated_fields.py
Due: pyright

Package changes
  packages/python/prismiq/__init__.py
  packages/python/prismiq/calculated_field_processor.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

Package changes
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

Package changes
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/utils/pivot.ts
Due: tsc

Package changes
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/schema.py
  packages/python/prismiq/trends.py
Due: pyright

Package changes
  packages/python/prismiq/persistence/setup.py
Due: pyright

Fmt changes
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/cache.py
  packages/python/prismiq/calculated_field_processor.py
  packages/python/prismiq/calculated_fields.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/dates.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/formatting.py
  packages/python/prismiq/logging.py
  packages/python/prismiq/metrics.py
  packages/python/prismiq/middleware.py
  packages/python/prismiq/permissions.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/persistence/setup.py
  packages/python/prismiq/persistence/tables.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/prismiq/schema_config.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sql_validator.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/python/prismiq/timeseries.py
  packages/python/prismiq/transforms.py
  packages/python/prismiq/trends.py
  packages/python/prismiq/types.py
  packages/python/pyproject.toml
Due: pyright

Package changes
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/react/package-lock.json
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

Fixed textbox alignment issue
  packages/python/prismiq/calculated_fields.py
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

Fixed textbox alignment issue
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/prismiq/schema_config.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/python/prismiq/trends.py
Due: pyright

Dashboard filter changes
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/react/.npmrc
  packages/react/package-lock.json
Due: pyright

Dashboard filter changes
  packages/react/src/components/ResultsTable/ResultsTable.tsx
  packages/react/src/components/ResultsTable/TableHeader.tsx
  packages/react/src/components/ui/Select.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

Fmt changes
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/prismiq/schema_config.py
  packages/python/prismiq/trends.py
Due: pyright

Preserve tooltip state during chart updates
  packages/react/src/charts/EChartWrapper.tsx
Due: tsc

Fix pie chart tooltip flickering and sizing issues
  packages/react/src/charts/EChartWrapper.tsx
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/charts/utils.ts
Due: tsc

feat: add cache refresh functionality with metadata tracking
  packages/python/prismiq/api.py
  packages/python/prismiq/cache.py
  packages/python/tests/test_api.py
  packages/python/tests/test_cache.py
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
  packages/react/src/utils/dateFormat.ts
  packages/react/src/utils/index.ts
Due: pyright, tsc

chore: apply ruff-format to Python codebase
  packages/python/prismiq/__init__.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/calculated_field_processor.py
  packages/python/prismiq/calculated_fields.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/dates.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/formatting.py
  packages/python/prismiq/logging.py
  packages/python/prismiq/metrics.py
  packages/python/prismiq/middleware.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/persistence/tables.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/prismiq/schema_config.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/sqlalchemy_builder.py
  packages/python/prismiq/trends.py
  packages/python/prismiq/types.py
Due: pyright

fix: enable widget persistence via dashboard PATCH endpoint
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: pyright, tsc

fix: Fix dashboard editor UI issues
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

fix: Address PR review issues in DashboardEditor
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: tsc

feat: Add widget refresh UI to DashboardEditor
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: tsc

feat: Add sync icon for widget refresh button
  packages/react/src/components/ui/Icon.tsx
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
Due: tsc

fix: Add batched widget loading to DashboardEditor
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: tsc

fix: Address PR review issues for batched widget loading
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

fix: Address ruff linting errors
  packages/python/prismiq/__init__.py
  packages/python/prismiq/calculated_fields.py
Due: pyright

fix: Mock fetchrow in schema tests for row count queries
  packages/python/tests/test_schema.py
Due: pyright

feat: Add multi-tenant support to QueryCache and SchemaCache
  packages/python/prismiq/cache.py
Due: pyright

test: Add unit tests for multi-tenant cache functionality
  packages/python/tests/test_cache.py
Due: pyright

feat: Add separate TTL parameters for query and schema cache
  examples/demo/backend/main.py
  packages/python/prismiq/engine.py
Due: pyright

feat: Add separate TTL parameters for query and schema cache (#7)
  examples/demo/backend/main.py
  packages/python/prismiq/engine.py
Due: pyright

feat: Add per-request schema support for multi-tenant isolation
  packages/python/prismiq/api.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/tests/test_api.py
  packages/python/tests/test_multi_tenant_schema.py
  packages/react/src/api/client.ts
  packages/react/src/context/AnalyticsProvider.tsx
Due: pyright, tsc

feat: Add per-request schema support for multi-tenant isolation (#8)
  packages/python/prismiq/api.py
  packages/python/prismiq/auth.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/query.py
  packages/python/prismiq/schema.py
  packages/python/tests/test_api.py
  packages/python/tests/test_multi_tenant_schema.py
  packages/react/src/api/client.ts
  packages/react/src/context/AnalyticsProvider.tsx
Due: pyright, tsc

Path conditions:
  pyright: any of: ^packages/python/.*\.py$
  tsc: any of: ^packages/react/.*\.(ts|tsx)$
