Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

ci: use npm trusted publishing (OIDC) instead of token
  .github/workflows/publish-npm.yml
Due: none

ci: add npm and PyPI publishing workflows (#36)
  .github/workflows/publish-npm.yml
  .github/workflows/publish-pypi.yml
  CLAUDE.md
  ROADMAP.md
  packages/python/pyproject.toml
  packages/react/package.json
  packages/react/src/utils/dateFormat.ts
Due: tsc

Query validation fix
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

Query validation fix (#37)
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

Added dual pool support
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
Due: pyright

Added dual pool support (#38)
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
Due: pyright

fix: improve widget editor layout with single page scroll
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: use container-level scroll and contain preview overflow
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: remove fixed height/overflow so host app controls scroll
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: match DashboardEditor scroll pattern for host app compat
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: add minHeight 0 to enable scroll on grid+flex body
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

Fixed scroll issue
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

Fixed widget type selector cut off issue
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: tsc

fix: improve widget editor layout with single page scroll (#39)
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: tsc

Fit widget selector text
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: tsc

Fit widget selector text (#40)
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: tsc

Revert back to single page scroll
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

Revert back to single page scroll (#41)
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: migrate to integer IDs, improve widget editor and filter UX
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/tables.py
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

fix: address PR review findings
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: pyright, tsc

chore: fix ruff formatting in engine.py
  packages/python/prismiq/engine.py
Due: pyright

Fix: integer IDs, widget editor guards, tag-based filter input (#42)
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/tables.py
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

chore: bump versions to 0.1.1
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

chore: bump versions to 0.1.1 (#43)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

fix: use explicit package and out-dir for uv build in PyPI workflow
  .github/workflows/publish-pypi.yml
Due: none

fix: use explicit package and out-dir for uv build in PyPI workflow (#44)
  .github/workflows/publish-pypi.yml
Due: none

fix: add --provenance flag for npm trusted publishing (OIDC)
  .github/workflows/publish-npm.yml
Due: none

fix: add --provenance for npm trusted publishing (#45)
  .github/workflows/publish-npm.yml
Due: none

fix: remove registry-url to let npm OIDC handle auth natively
  .github/workflows/publish-npm.yml
Due: none

fix: remove registry-url to let npm OIDC handle auth natively (#46)
  .github/workflows/publish-npm.yml
Due: none

fix: restore registry-url and add NPM_TOKEN for npm publish
  .github/workflows/publish-npm.yml
Due: none

fix: use OIDC trusted publishing for npm (no token needed)
  .github/workflows/publish-npm.yml
Due: none

fix: restore registry-url and add NPM_TOKEN for npm publish (#47)
  .github/workflows/publish-npm.yml
Due: none

fix: use Node 24 for npm trusted publishing (OIDC requires >=22.14.0)
  .github/workflows/publish-npm.yml
Due: none

fix: use Node 24 for npm trusted publishing (OIDC requires >=22.14.0) (#48)
  .github/workflows/publish-npm.yml
Due: none

fix: update repository URLs to statisfy-us/prismiq
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

fix: update repository URLs to statisfy-us/prismiq (#49)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

feat: add LLM subsystem with types, provider, Gemini impl, tools, agent loop
  packages/python/prismiq/llm/__init__.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/factory.py
  packages/python/prismiq/llm/gemini.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/provider.py
  packages/python/prismiq/llm/tools.py
  packages/python/prismiq/llm/types.py
  packages/python/pyproject.toml
  uv.lock
Due: pyright

test: add LLM subsystem tests
  packages/python/tests/test_llm_agent.py
  packages/python/tests/test_llm_prompt.py
  packages/python/tests/test_llm_tools.py
  packages/python/tests/test_llm_types.py
Due: pyright
