Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

pyright:
  name: Pyright type check
  entry: bash -c 'cd packages/python && uv run pyright'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript check
  entry: bash -c 'cd packages/react && npm run typecheck'
  language: system
  pass_filenames: false

feat: integrate LLM into engine and API
  examples/demo/backend/main.py
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
Due: pyright

feat: add React LLM types, SSE client, hooks, and ChatPanel
  packages/react/src/api/client.ts
  packages/react/src/components/ChatPanel/ChatBubble.tsx
  packages/react/src/components/ChatPanel/ChatPanel.tsx
  packages/react/src/components/ChatPanel/index.ts
  packages/react/src/components/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useLLMChat.ts
  packages/react/src/hooks/useLLMStatus.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
Due: tsc

feat: add SQL mode to widget editor with LLM chat integration
  packages/python/prismiq/dashboards.py
  packages/react/src/components/CustomSQLEditor/CustomSQLEditor.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/types.ts
Due: pyright, tsc

feat: add schema reference panel to SQL mode in widget editor
  packages/react/src/components/SchemaExplorer/SchemaExplorer.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: address PR review findings across LLM subsystem and UI
  .github/workflows/ci.yml
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/gemini.py
  packages/python/prismiq/llm/provider.py
  packages/python/tests/test_llm_agent.py
  packages/python/tests/test_llm_tools.py
  packages/react/src/components/ChatPanel/ChatBubble.tsx
  packages/react/src/components/ChatPanel/ChatPanel.tsx
  packages/react/src/components/ChatPanel/types.ts
  packages/react/src/components/CustomSQLEditor/CustomSQLEditor.tsx
  packages/react/src/components/SchemaExplorer/SchemaExplorer.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/hooks/useLLMChat.ts
  packages/react/src/hooks/useLLMStatus.ts
Due: pyright, tsc

fix: use StrictStr for raw_sql field, add chat panel root testid
  packages/python/prismiq/dashboards.py
  packages/react/src/components/ChatPanel/ChatPanel.tsx
Due: pyright, tsc

feat: add LLM-powered SQL mode with schema browser to widget editor (#50)
  .github/workflows/ci.yml
  examples/demo/backend/main.py
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/llm/__init__.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/factory.py
  packages/python/prismiq/llm/gemini.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/provider.py
  packages/python/prismiq/llm/tools.py
  packages/python/prismiq/llm/types.py
  packages/python/pyproject.toml
  packages/python/tests/test_llm_agent.py
  packages/python/tests/test_llm_prompt.py
  packages/python/tests/test_llm_tools.py
  packages/python/tests/test_llm_types.py
  packages/react/src/api/client.ts
  packages/react/src/components/ChatPanel/ChatBubble.tsx
  packages/react/src/components/ChatPanel/ChatPanel.tsx
  packages/react/src/components/ChatPanel/index.ts
  packages/react/src/components/ChatPanel/types.ts
  packages/react/src/components/CustomSQLEditor/CustomSQLEditor.tsx
  packages/react/src/components/SchemaExplorer/SchemaExplorer.tsx
  packages/react/src/components/index.ts
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useLLMChat.ts
  packages/react/src/hooks/useLLMStatus.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
  uv.lock
Due: pyright, tsc

fix: place outer join filters in ON clause to preserve join semantics
  packages/python/prismiq/query.py
  packages/python/tests/test_query.py
Due: pyright

fix: place outer join filters in ON clause to preserve join semantics (#51)
  packages/python/prismiq/query.py
  packages/python/tests/test_query.py
Due: pyright

fix: remove dead sqlalchemy_builder and calculated_field_processor code
  packages/python/prismiq/__init__.py
  packages/python/prismiq/calculated_field_processor.py
  packages/python/prismiq/query.py
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

fix: resolve peer dependency issues for react-grid-layout and xlsx
  packages/react/package.json
  packages/react/src/export/excel.ts
  packages/react/src/export/useExport.ts
Due: tsc

fix: remove dead sqlalchemy_builder and calculated_field_processor code (#52)
  packages/python/prismiq/__init__.py
  packages/python/prismiq/calculated_field_processor.py
  packages/python/prismiq/query.py
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

fix: add error handling for async Excel export in useExport hook
  packages/react/src/export/excel.ts
  packages/react/src/export/useExport.ts
Due: tsc

fix: address PR review findings
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/export/excel.ts
  packages/react/src/export/useExport.ts
Due: tsc

fix: resolve peer dependency issues for react-grid-layout and xlsx (#53)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/export/excel.ts
  packages/react/src/export/useExport.ts
Due: tsc

chore: bump versions to 0.2.0
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

chore: bump versions to 0.2.0 (#54)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

docs: add SQL mode and LLM SQL assistant documentation
  README.md
  ROADMAP.md
  docs/api-reference.md
  docs/getting-started.md
  docs/hooks-reference.md
  docs/integration-guide.md
  docs/sql-mode.md
  docs/types-reference.md
Due: none

docs: add language specifiers to fenced code blocks in sql-mode.md
  docs/sql-mode.md
Due: none

docs: fix tool names in diagram and clarify identifier quoting
  docs/sql-mode.md
Due: none

docs: add SQL mode and LLM SQL assistant documentation (#55)
  README.md
  ROADMAP.md
  docs/api-reference.md
  docs/getting-started.md
  docs/hooks-reference.md
  docs/integration-guide.md
  docs/sql-mode.md
  docs/types-reference.md
Due: none

docs: update docs for new LLM tools, status chunks, and widget context
  docs/api-reference.md
  docs/sql-mode.md
  docs/types-reference.md
  packages/python/tests/test_llm_tools.py
Due: pyright

feat: add widget context, execute/column tools, and status streaming to LLM assistant
  packages/python/prismiq/api.py
  packages/python/prismiq/llm/__init__.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/tools.py
  packages/python/prismiq/llm/types.py
  packages/python/tests/test_llm_prompt.py
  packages/python/tests/test_llm_tools.py
  packages/python/tests/test_llm_types.py
  packages/react/src/api/client.ts
  packages/react/src/components/ChatPanel/ChatPanel.tsx
  packages/react/src/components/ChatPanel/types.ts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/hooks/useLLMChat.ts
  packages/react/src/types.ts
  uv.lock
Due: pyright, tsc

refactor: use top-level import for WidgetContext in client.ts
  packages/react/src/api/client.ts
Due: tsc

feat: widget-aware LLM SQL assistant with execution validation and status streaming (#56)
  docs/api-reference.md
  docs/sql-mode.md
  docs/types-reference.md
  packages/python/prismiq/api.py
  packages/python/prismiq/llm/__init__.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/tools.py
  packages/python/prismiq/llm/types.py
  packages/python/tests/test_llm_prompt.py
  packages/python/tests/test_llm_tools.py
  packages/python/tests/test_llm_types.py
  packages/react/src/api/client.ts
  packages/react/src/components/ChatPanel/ChatPanel.tsx
  packages/react/src/components/ChatPanel/types.ts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/hooks/useLLMChat.ts
  packages/react/src/types.ts
  uv.lock
Due: pyright, tsc

chore: bump versions to 0.2.1
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

chore: bump versions to 0.2.1 (#57)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

feat: make max_tool_iterations configurable via LLMConfig
  docs/sql-mode.md
  packages/python/prismiq/api.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/types.py
  packages/python/tests/test_llm_agent.py
  packages/python/tests/test_llm_types.py
Due: pyright

fix: resolve double validation for tenant schema raw SQL queries
  packages/python/prismiq/engine.py
Due: pyright

fix: prevent schema name leaking into LLM-generated SQL
  packages/python/prismiq/executor.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/tools.py
  packages/python/tests/test_llm_prompt.py
Due: pyright

fix: address review findings for schema isolation
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/prompt.py
  packages/python/tests/test_llm_prompt.py
Due: pyright

chore: update uv.lock
  uv.lock
Due: none

fix: add missing docstring entry and validate max_tool_iterations
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/types.py
Due: pyright

fix: LLM SQL assistant schema isolation and error handling (#58)
  docs/sql-mode.md
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/llm/agent.py
  packages/python/prismiq/llm/prompt.py
  packages/python/prismiq/llm/tools.py
  packages/python/prismiq/llm/types.py
  packages/python/tests/test_llm_agent.py
  packages/python/tests/test_llm_prompt.py
  packages/python/tests/test_llm_types.py
  uv.lock
Due: pyright

fix: use parameterized set_config for statement_timeout
  packages/python/prismiq/executor.py
Due: pyright

chore: bump versions to 0.2.2
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

chore: bump versions to 0.2.2 (#59)
  packages/python/prismiq/executor.py
  packages/python/pyproject.toml
  packages/react/package.json
Due: pyright

feat: add multi-tenant schema isolation with integration tests
  packages/python/prismiq/engine.py
  packages/python/prismiq/executor.py
  packages/python/prismiq/sql_validator.py
  packages/python/tests/test_executor.py
  packages/python/tests/test_multi_tenant_integration.py
  uv.lock
Due: pyright

fix: address PR review findings
  packages/python/prismiq/executor.py
  packages/python/prismiq/sql_validator.py
  packages/python/tests/test_executor.py
  packages/python/tests/test_multi_tenant_integration.py
Due: pyright

fix: address PR review comments — foreign schema rejection, fixture hardening, test parametrization
  packages/python/prismiq/executor.py
  packages/python/tests/test_executor.py
  packages/python/tests/test_multi_tenant_integration.py
Due: pyright

Path conditions:
  pyright: any of: ^packages/python/.*\.py$
  tsc: any of: ^packages/react/.*\.(ts|tsx)$
