Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

feat: add date truncation support for date columns
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/types.ts
Due: tsc

feat: add missing filter operators
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/types.ts
Due: tsc

feat: add value formatting configuration
  packages/react/src/components/ui/CollapsibleSection.tsx
  packages/react/src/components/ui/index.ts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
Due: tsc

feat: add chart display configuration
  packages/react/src/components/ui/ColorPaletteSelector.tsx
  packages/react/src/components/ui/index.ts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DisplayConfigSection.tsx
Due: tsc

feat: add date formatting per column
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DateFormattingSection.tsx
Due: tsc

feat: add trend comparison configuration for metrics
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TrendConfigSection.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

feat: add joins UI integration for multi-table queries
  packages/react/src/components/TableSelector/TableSelector.tsx
  packages/react/src/components/TableSelector/index.ts
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

feat: add time series configuration for date-based charts
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/components/TimeSeriesConfig/index.ts
  packages/react/src/components/index.ts
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/types.ts
Due: tsc

feat: add calculated fields builder for computed columns
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/CalculatedFieldBuilder/index.ts
  packages/react/src/components/index.ts
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

fix: address PR review issues - silent failures and accessibility
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/components/ui/CollapsibleSection.tsx
  packages/react/src/components/ui/ColorPaletteSelector.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

fix: color alpha handling and format field sync
  packages/react/src/components/ui/ColorPaletteSelector.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
Due: tsc

fix: address PR review issues
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/components/ui/ColorPaletteSelector.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/utils/columnRef.ts
  packages/react/src/utils/index.ts
Due: tsc

fix: use nullish coalescing for currency symbol input
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
Due: tsc

feat: add scatter_chart configuration in WidgetEditorPage
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: ChartConfig timeSeries clearing and measure table context
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

fix: consistent x_axis auto-detect behavior across chart types
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

feat: close gaps between backend capabilities and self-serve create UI (#27)
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/CalculatedFieldBuilder/ExpressionEditor.tsx
  packages/react/src/components/CalculatedFieldBuilder/index.ts
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/components/TableSelector/TableSelector.tsx
  packages/react/src/components/TableSelector/index.ts
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/components/TimeSeriesConfig/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/ui/CollapsibleSection.tsx
  packages/react/src/components/ui/ColorPaletteSelector.tsx
  packages/react/src/components/ui/index.ts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DateFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DisplayConfigSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TrendConfigSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ValueFormattingSection.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
  packages/react/src/utils/columnRef.ts
  packages/react/src/utils/index.ts
Due: tsc

feat: add hyperlink configuration section to widget editor
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/HyperlinkSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
Due: tsc

feat: add reference lines configuration for charts
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ReferenceLinesSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

feat: add text formatting with markdown support
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TextFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

feat: add pivot table configuration section
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PivotConfigSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
Due: tsc

feat: add layout constraints section for widget sizing
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/LayoutConstraintsSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
Due: tsc

feat: add cross-filter configuration section
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/CrossFilterSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
Due: tsc

fix: address code review issues for self-serve UI
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ReferenceLinesSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TextFormattingSection.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/safeMarkdown.ts
Due: tsc

fix: address additional PR review recommendations
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/HyperlinkSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ReferenceLinesSection.tsx
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
  packages/react/src/utils/safeMarkdown.ts
Due: tsc

fix: address PR review feedback for self-serve UI components
  packages/python/prismiq/types.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/CrossFilterSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DateFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/HyperlinkSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/LayoutConstraintsSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PivotConfigSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ReferenceLinesSection.tsx
  packages/react/src/types.ts
Due: pyright, tsc

fix: remove hour and minute from date truncation options
  packages/python/prismiq/types.py
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/types.ts
Due: pyright, tsc

feat: self-serve UI gaps - widget editor enhancements (#28)
  packages/python/prismiq/types.py
  packages/react/src/components/CalculatedFieldBuilder/CalculatedFieldBuilder.tsx
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/components/TimeSeriesConfig/TimeSeriesConfig.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/CrossFilterSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/DateFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/HyperlinkSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/LayoutConstraintsSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PivotConfigSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ReferenceLinesSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TextFormattingSection.tsx
  packages/react/src/dashboard/DashboardEditor/configs/index.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
  packages/react/src/types.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/safeMarkdown.ts
Due: pyright, tsc

Postgres dashboard store changes
  packages/python/prismiq/persistence/models.py
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

Package changes
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/persistence/models.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: pyright, tsc

Fixed multiple api calls and layout issues
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
  packages/react/src/hooks/useDashboards.ts
Due: tsc

Fixed multiple api calls and layout issues
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
Due: tsc

Fixed multiple api calls and layout issues
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: tsc

Fixed multiple api calls and layout issues
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

docs: add comprehensive integration documentation
  docs/api-reference.md
  docs/getting-started.md
  docs/hooks-reference.md
  docs/integration-guide.md
  docs/types-reference.md
Due: none

fix: sort imports and move logger after imports
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

Fixed multiple api call issue
  packages/react/src/dashboard/DashboardProvider.tsx
Due: tsc

Viewtype functionality
  packages/react/src/api/client.ts
  packages/react/src/api/index.ts
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/index.ts
Due: tsc
