Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

pyright:
  name: Pyright type check
  entry: bash -c 'cd packages/python && uv run pyright'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript check
  entry: bash -c 'cd packages/react && npm run typecheck'
  language: system
  pass_filenames: false

refactor: remove prismiq_schema_config database table (#19)
  packages/python/prismiq/api.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/setup.py
  packages/python/prismiq/persistence/tables.py
Due: pyright

feat: add SQLAlchemy declarative models for multi-tenant integration
  packages/python/prismiq/persistence/models.py
Due: pyright

feat: add ensure_tables_sync for synchronous table creation
  packages/python/prismiq/persistence/setup.py
Due: pyright

feat: export declarative models and ensure_tables_sync from package
  packages/python/prismiq/__init__.py
  packages/python/prismiq/persistence/__init__.py
Due: pyright

test: add unit tests for declarative models
  packages/python/tests/test_persistence_models.py
Due: pyright

docs: add multi-tenant integration guide
  docs/multi-tenant-integration.md
  packages/python/README.md
Due: none

fix: add error handling and schema validation to table creation
  packages/python/prismiq/__init__.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/setup.py
Due: pyright

fix: update docs for SQLAlchemy 2.0 compatibility
  docs/multi-tenant-integration.md
  packages/python/prismiq/persistence/models.py
Due: pyright

test: add tests for validation, errors, and constraints
  packages/python/tests/test_persistence_models.py
Due: pyright

docs: clarify schema must exist before table creation
  docs/multi-tenant-integration.md
Due: none

fix: improve code quality and documentation
  docs/multi-tenant-integration.md
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/setup.py
Due: pyright

feat: add SQLAlchemy declarative models for multi-tenant integration (#20)
  docs/multi-tenant-integration.md
  packages/python/README.md
  packages/python/prismiq/__init__.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/models.py
  packages/python/prismiq/persistence/setup.py
  packages/python/tests/test_persistence_models.py
Due: pyright

fix: raise ValueError for invalid IN_SUBQUERY in sqlalchemy_builder
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

docs: add explanatory sentence to security comment for consistency
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

fix: raise ValueError for invalid IN_SUBQUERY in sqlalchemy_builder (#21)
  packages/python/prismiq/sqlalchemy_builder.py
Due: pyright

feat: add IN_OR_NULL filter operator to query builder
  packages/python/prismiq/query.py
  packages/python/prismiq/types.py
  packages/python/tests/test_query.py
Due: pyright

feat: add IN_OR_NULL filter operator to query builder (#22)
  packages/python/prismiq/query.py
  packages/python/prismiq/types.py
  packages/python/tests/test_query.py
Due: pyright

feat: add NOT_LIKE and NOT_ILIKE filter operators to query builder
  packages/python/prismiq/query.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/types.py
  packages/python/tests/test_query.py
Due: pyright

fix: validate IN_OR_NULL filter list items for numeric columns
  packages/python/prismiq/query.py
  packages/python/tests/test_validation.py
Due: pyright

feat: add NOT_LIKE and NOT_ILIKE filter operators to query builder (#23)
  packages/python/prismiq/query.py
  packages/python/prismiq/sql_utils.py
  packages/python/prismiq/types.py
  packages/python/tests/test_query.py
  packages/python/tests/test_validation.py
Due: pyright

fix: handle edge cases in query builder filters
  packages/python/prismiq/query.py
  packages/python/tests/test_query.py
Due: pyright

fix: handle edge cases in query builder filters (#24)
  packages/python/prismiq/query.py
  packages/python/tests/test_query.py
Due: pyright

Cache fix
  packages/python/prismiq/engine.py
Due: pyright

Fix ORDER BY to use date_trunc when column has date truncation applied
  packages/python/prismiq/query.py
Due: pyright

feat: add dashboard pinning data layer (Phase 1)
  packages/python/prismiq/__init__.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/models.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/setup.py
  packages/python/prismiq/pins.py
  packages/python/tests/test_persistence_models.py
Due: pyright

feat: add pin API endpoints (Phase 2)
  packages/python/prismiq/api.py
Due: pyright

feat: add pin types and client methods (Phase 3)
  packages/react/src/api/client.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
Due: tsc

feat: add pin hooks (Phase 4)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDashboardPinStatus.ts
  packages/react/src/hooks/usePinMutations.ts
  packages/react/src/hooks/usePinnedDashboards.ts
  packages/react/src/index.ts
Due: tsc

feat: add pin components (Phase 5)
  packages/react/src/index.ts
  packages/react/src/pins/PinButton.tsx
  packages/react/src/pins/PinMenu.tsx
  packages/react/src/pins/PinnedDashboardList.tsx
  packages/react/src/pins/PinnedDashboardView.tsx
  packages/react/src/pins/index.ts
Due: tsc

test: add E2E tests for dashboard pinning feature
  examples/demo/frontend/e2e/pins.spec.ts
  examples/demo/frontend/package-lock.json
  examples/demo/frontend/package.json
  examples/demo/frontend/playwright.config.ts
  examples/demo/frontend/src/App.tsx
  examples/demo/frontend/src/components/Layout.tsx
  examples/demo/frontend/src/pages/DashboardPage.tsx
  examples/demo/frontend/src/pages/PinnedPage.tsx
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/index.ts
Due: tsc

fix: address PR review issues for dashboard pinning
  packages/python/prismiq/pins.py
  packages/python/tests/test_dashboard_store.py
  packages/react/src/hooks/useDashboardPinStatus.ts
  packages/react/src/pins/PinButton.tsx
  packages/react/src/pins/PinMenu.tsx
  packages/react/src/pins/PinnedDashboardList.tsx
  packages/react/src/pins/PinnedDashboardView.tsx
Due: pyright, tsc

fix: address additional PR review issues
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/pins.py
  packages/python/tests/test_dashboard_store.py
  packages/react/src/hooks/useDashboardPinStatus.ts
  packages/react/src/pins/PinButton.tsx
Due: pyright, tsc

fix: add error feedback and fix silent failures in pin components
  packages/react/src/hooks/useDashboardPinStatus.ts
  packages/react/src/pins/PinButton.tsx
  packages/react/src/pins/PinMenu.tsx
  packages/react/src/pins/PinnedDashboardList.tsx
  packages/react/src/pins/PinnedDashboardView.tsx
Due: tsc

fix: add min_length validation to ID fields in pin models
  packages/python/prismiq/pins.py
Due: pyright

refactor: use SQLAlchemy Core for all pin operations in PostgresDashboardStore
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

fix: add per-item validation and keyboard accessibility
  packages/python/prismiq/pins.py
  packages/react/src/pins/PinnedDashboardList.tsx
Due: pyright, tsc

fix: improve reorder_pins and add quoted identifiers in PostgresDashboardStore
  packages/python/prismiq/persistence/postgres_store.py
Due: pyright

docs: add comprehensive dashboard pinning documentation
  README.md
  docs/dashboard-pinning.md
  packages/react/README.md
Due: none

feat: add dashboard pinning feature (#26)
  README.md
  docs/dashboard-pinning.md
  examples/demo/frontend/e2e/pins.spec.ts
  examples/demo/frontend/package-lock.json
  examples/demo/frontend/package.json
  examples/demo/frontend/playwright.config.ts
  examples/demo/frontend/src/App.tsx
  examples/demo/frontend/src/components/Layout.tsx
  examples/demo/frontend/src/pages/DashboardPage.tsx
  examples/demo/frontend/src/pages/PinnedPage.tsx
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/persistence/__init__.py
  packages/python/prismiq/persistence/models.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/schema.sql
  packages/python/prismiq/persistence/setup.py
  packages/python/prismiq/pins.py
  packages/python/tests/test_dashboard_store.py
  packages/python/tests/test_persistence_models.py
  packages/react/README.md
  packages/react/src/api/client.ts
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDashboardPinStatus.ts
  packages/react/src/hooks/usePinMutations.ts
  packages/react/src/hooks/usePinnedDashboards.ts
  packages/react/src/index.ts
  packages/react/src/pins/PinButton.tsx
  packages/react/src/pins/PinMenu.tsx
  packages/react/src/pins/PinnedDashboardList.tsx
  packages/react/src/pins/PinnedDashboardView.tsx
  packages/react/src/pins/index.ts
  packages/react/src/types.ts
Due: pyright, tsc

Path conditions:
  pyright: any of: ^packages/python/.*\.py$
  tsc: any of: ^packages/react/.*\.(ts|tsx)$
