Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

Updated versions
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Updated versions (#84)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Use cache in sql widgets
  packages/python/prismiq/api.py
  packages/python/prismiq/cache.py
  packages/python/prismiq/engine.py
Due: pyright

Use cache in sql widgets (#85)
  packages/python/prismiq/api.py
  packages/python/prismiq/cache.py
  packages/python/prismiq/engine.py
Due: pyright

Updated pip version
  packages/python/pyproject.toml
Due: none

Updated pip version (#86)
  packages/python/pyproject.toml
Due: none

Cache refresh fix in sql widgets
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/types.ts
Due: tsc

Cache refresh fix in sql widgets (#87)
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/types.ts
Due: tsc

react v0.2.13
  packages/react/package.json
Due: none

react v0.2.13 (#88)
  packages/react/package.json
Due: none

v2.2.13
  packages/python/prismiq/schema.py
  packages/python/pyproject.toml
  uv.lock
Due: pyright

v2.2.13 (#89)
  packages/python/prismiq/schema.py
  packages/python/pyproject.toml
  uv.lock
Due: pyright

fiscal-aware date presets + apply date_preset defaults in dashboard filters
  packages/python/prismiq/api.py
  packages/python/prismiq/dates.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/sql_filters.py
  packages/python/tests/test_dates.py
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/dashboard/useDashboardFilters.ts
Due: pyright, tsc

feat: move widget refresh timestamp below title
  packages/react/package.json
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
Due: tsc

review changes
  packages/python/prismiq/filter_merge.py
  packages/python/pyproject.toml
  packages/react/package.json
  uv.lock
Due: pyright

fiscal-aware date presets + apply date_preset defaults in dashboard filter (#91)
  packages/python/prismiq/api.py
  packages/python/prismiq/dates.py
  packages/python/prismiq/engine.py
  packages/python/prismiq/filter_merge.py
  packages/python/prismiq/sql_filters.py
  packages/python/pyproject.toml
  packages/python/tests/test_dates.py
  packages/react/package.json
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/dashboard/useDashboardFilters.ts
  uv.lock
Due: pyright, tsc

feat: move widget refresh timestamp below title (#92)
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
Due: tsc

resolve date presets client-side for query-builder widgets
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/datePresets.ts
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
Due: tsc

resolve date presets client-side for query-builder widgets
  packages/react/package.json
Due: none

resolve date presets client-side for query-builder widgets
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
Due: tsc

resolve date presets client-side for query-builder widgets (#93)
  packages/react/package.json
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/applyFiltersToQuery.ts
  packages/react/src/dashboard/datePresets.ts
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
Due: tsc
