Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

feat: add query definition types
  packages/python/prismiq/types.py
  packages/python/tests/test_types.py
Due: pyright

feat: add schema introspection
  packages/python/prismiq/schema.py
  packages/python/pyproject.toml
  packages/python/tests/test_schema.py
Due: pyright

feat: add query builder
  packages/python/prismiq/query.py
  packages/python/pyproject.toml
  packages/python/tests/test_query.py
Due: pyright

feat: add query executor
  packages/python/prismiq/executor.py
  packages/python/tests/test_executor.py
Due: pyright

feat: add FastAPI routes and main engine class
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/pyproject.toml
  packages/python/tests/test_api.py
  packages/python/tests/test_engine.py
Due: pyright

chore: update progress tracking for completed Week 1 Python tasks
  .claude/state/progress.md
  packages/python/prismiq/__init__.py
  uv.lock
Due: pyright

feat: add React SDK type definitions
  packages/react/src/types.ts
Due: tsc

feat: add Prismiq API client
  packages/react/src/api/client.ts
  packages/react/src/api/index.ts
Due: tsc

feat: add AnalyticsProvider and context
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/context/index.ts
Due: tsc

feat: add useSchema and useQuery hooks
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useQuery.ts
  packages/react/src/hooks/useSchema.ts
Due: tsc

feat: update index exports and fix package.json
  packages/react/package.json
  packages/react/src/index.ts
Due: tsc

chore: update progress tracking for completed React SDK
  .claude/state/progress.md
Due: none

feat: add date/time utilities
  packages/python/prismiq/dates.py
  packages/python/tests/test_dates.py
Due: pyright

feat: add number formatting utilities
  packages/python/prismiq/formatting.py
  packages/python/tests/test_formatting.py
Due: pyright

feat: add schema customization
  packages/python/prismiq/schema_config.py
  packages/python/tests/test_schema_config.py
Due: pyright

feat: add enhanced query validation with detailed errors
  packages/python/prismiq/query.py
  packages/python/tests/test_validation.py
Due: pyright

feat: add schema config API endpoints and engine integration
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
Due: pyright

feat(react): add theme system with light/dark/system modes
  packages/react/src/theme/ThemeProvider.tsx
  packages/react/src/theme/defaults.ts
  packages/react/src/theme/index.ts
  packages/react/src/theme/types.ts
  packages/react/src/theme/useTheme.ts
Due: tsc

feat(react): add base UI components
  packages/react/src/components/ui/Badge.tsx
  packages/react/src/components/ui/Button.tsx
  packages/react/src/components/ui/Checkbox.tsx
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/components/ui/Icon.tsx
  packages/react/src/components/ui/Input.tsx
  packages/react/src/components/ui/Select.tsx
  packages/react/src/components/ui/Tooltip.tsx
  packages/react/src/components/ui/index.ts
Due: tsc

feat(react): add SchemaExplorer component
  packages/react/src/components/SchemaExplorer/ColumnNode.tsx
  packages/react/src/components/SchemaExplorer/SchemaExplorer.tsx
  packages/react/src/components/SchemaExplorer/TableNode.tsx
  packages/react/src/components/SchemaExplorer/index.ts
Due: tsc

feat(react): add ColumnSelector, FilterBuilder, SortBuilder components
  packages/react/src/components/ColumnSelector/ColumnSelector.tsx
  packages/react/src/components/ColumnSelector/SelectedColumn.tsx
  packages/react/src/components/ColumnSelector/index.ts
  packages/react/src/components/FilterBuilder/FilterBuilder.tsx
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/components/FilterBuilder/index.ts
  packages/react/src/components/SortBuilder/SortBuilder.tsx
  packages/react/src/components/SortBuilder/SortRow.tsx
  packages/react/src/components/SortBuilder/index.ts
Due: tsc

feat(react): add AggregationPicker and ResultsTable components
  packages/react/src/components/AggregationPicker/AggregationPicker.tsx
  packages/react/src/components/AggregationPicker/index.ts
  packages/react/src/components/ResultsTable/Pagination.tsx
  packages/react/src/components/ResultsTable/ResultsTable.tsx
  packages/react/src/components/ResultsTable/TableCell.tsx
  packages/react/src/components/ResultsTable/TableHeader.tsx
  packages/react/src/components/ResultsTable/TableRow.tsx
  packages/react/src/components/ResultsTable/index.ts
Due: tsc

feat: add QueryBuilder container and event callbacks system
  packages/react/src/api/client.ts
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/components/QueryBuilder/QueryBuilderToolbar.tsx
  packages/react/src/components/QueryBuilder/QueryPreview.tsx
  packages/react/src/components/QueryBuilder/index.ts
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/context/index.ts
  packages/react/src/hooks/index.ts
Due: tsc

feat: update index exports with all components and theme
  packages/react/src/components/index.ts
  packages/react/src/index.ts
Due: tsc

docs: update progress - Week 2 React SDK complete
  .claude/state/progress.md
Due: none

feat: add time series bucketing utilities
  packages/python/prismiq/timeseries.py
  packages/python/tests/test_timeseries.py
Due: pyright

feat: add data transformation utilities
  packages/python/prismiq/transforms.py
  packages/python/tests/test_transforms.py
Due: pyright

feat: add trend calculation utilities
  packages/python/prismiq/trends.py
  packages/python/tests/test_trends.py
Due: pyright

feat: add time series support to query builder
  packages/python/prismiq/query.py
  packages/python/prismiq/types.py
  packages/python/tests/test_query.py
Due: pyright

feat: add time series, transform, and trend support
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
Due: pyright

feat: add React charts and visualizations (Week 3)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/charts/AreaChart/AreaChart.tsx
  packages/react/src/charts/AreaChart/index.ts
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/BarChart/index.ts
  packages/react/src/charts/EChartWrapper.tsx
  packages/react/src/charts/LineChart/LineChart.tsx
  packages/react/src/charts/LineChart/index.ts
  packages/react/src/charts/MetricCard/MetricCard.tsx
  packages/react/src/charts/MetricCard/Sparkline.tsx
  packages/react/src/charts/MetricCard/TrendIndicator.tsx
  packages/react/src/charts/MetricCard/index.ts
  packages/react/src/charts/PieChart/PieChart.tsx
  packages/react/src/charts/PieChart/index.ts
  packages/react/src/charts/ScatterChart/ScatterChart.tsx
  packages/react/src/charts/ScatterChart/index.ts
  packages/react/src/charts/autoSuggest.ts
  packages/react/src/charts/index.ts
  packages/react/src/charts/types.ts
  packages/react/src/charts/utils.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useChartData.ts
  packages/react/src/index.ts
Due: tsc

feat: add dashboard system with models, storage, filters, and API
  packages/python/prismiq/__init__.py
  packages/python/prismiq/api.py
  packages/python/prismiq/dashboard_store.py
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/filter_merge.py
  packages/python/tests/test_dashboard_store.py
  packages/python/tests/test_dashboards.py
  packages/python/tests/test_filter_merge.py
Due: pyright

feat: add React dashboard system (Week 4 tasks 1-6, 8, 10)
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/api/client.ts
  packages/react/src/components/ui/Icon.tsx
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
  packages/react/src/dashboard/DashboardLayout/index.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/Widget/Widget.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/Widget/WidgetHeader.tsx
  packages/react/src/dashboard/Widget/index.ts
  packages/react/src/dashboard/filters/DateRangeFilter.tsx
  packages/react/src/dashboard/filters/FilterBar.tsx
  packages/react/src/dashboard/filters/MultiSelectFilter.tsx
  packages/react/src/dashboard/filters/SelectFilter.tsx
  packages/react/src/dashboard/filters/TextFilter.tsx
  packages/react/src/dashboard/filters/index.ts
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
  packages/react/src/dashboard/useAutoRefresh.ts
  packages/react/src/dashboard/useDashboard.ts
  packages/react/src/dashboard/useDashboardFilters.ts
  packages/react/src/dashboard/useFullscreen.ts
  packages/react/src/dashboard/useWidget.ts
  packages/react/src/index.ts
Due: tsc

feat: add Dashboard Editor and responsive layout (Week 4 tasks 7, 9)
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/EditorToolbar.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditor.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPalette.tsx
  packages/react/src/dashboard/DashboardEditor/index.ts
  packages/react/src/dashboard/DashboardLayout/DashboardLayout.tsx
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
Due: tsc

fix: use timezone-aware datetime in test_timestamps_auto_set
  packages/python/tests/test_dashboards.py
Due: pyright

feat: add Redis caching infrastructure
  packages/python/prismiq/cache.py
  packages/python/tests/test_cache.py
Due: pyright

feat: add caching support to SchemaIntrospector
  packages/python/prismiq/schema.py
  packages/python/tests/test_schema.py
Due: pyright

feat: add rate limiting middleware
  packages/python/prismiq/middleware.py
  packages/python/tests/test_middleware.py
Due: pyright

feat: add structured logging with request correlation
  packages/python/prismiq/logging.py
  packages/python/tests/test_logging.py
Due: pyright

feat: add health check endpoints with liveness and readiness probes
  packages/python/prismiq/api.py
  packages/python/prismiq/engine.py
  packages/python/tests/test_api.py
Due: pyright
