Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

pyright:
  name: Pyright type check
  entry: bash -c 'cd packages/python && uv run pyright'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript check
  entry: bash -c 'cd packages/react && npm run typecheck'
  language: system
  pass_filenames: false

Apply dashboard filters to SQL-mode widgets
  packages/python/prismiq/api.py
  packages/python/prismiq/sql_filters.py
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/types.ts
Due: pyright, tsc

Apply dashboard filters to SQL-mode widgets
  packages/python/prismiq/api.py
Due: pyright

Apply dashboard filters to SQL-mode widgets
  packages/python/prismiq/sql_filters.py
Due: pyright

Added stacked support for bar charts
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

Added stacked support for bar charts
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

Apply dashboard filter support in sql widgets / Stacked support in bar chart (#71)
  packages/python/prismiq/api.py
  packages/python/prismiq/sql_filters.py
  packages/react/src/api/client.ts
  packages/react/src/charts/BarChart/BarChart.tsx
  packages/react/src/charts/types.ts
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/types.ts
Due: pyright, tsc

Updated versions
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Updated versions (#72)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Allow admins to edit/delete dashboards
  packages/python/prismiq/api.py
  packages/python/prismiq/permissions.py
Due: pyright

Allow admins to edit/delete dashboards (#73)
  packages/python/prismiq/api.py
  packages/python/prismiq/permissions.py
Due: pyright

Updated pip version
  packages/python/pyproject.toml
Due: none

Updated pip version (#74)
  packages/python/pyproject.toml
Due: none

Dashboard filter SQL bugs, FY persistence, add table wrap toggle
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/sql_filters.py
  packages/python/tests/test_sql_filters.py
  packages/react/src/components/ResultsTable/ResultsTable.tsx
  packages/react/src/components/ResultsTable/TableCell.tsx
  packages/react/src/components/ResultsTable/TableRow.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: pyright, tsc

fix: address CodeRabbit review on PR #75
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/sql_filters.py
  packages/python/tests/test_sql_filters.py
  packages/react/src/components/ResultsTable/ResultsTable.tsx
Due: pyright, tsc

format
  packages/python/tests/test_sql_filters.py
Due: pyright

Dashboard filter SQL bugs, FY persistence, add table wrap toggle (#75)
  packages/python/prismiq/dashboards.py
  packages/python/prismiq/sql_filters.py
  packages/react/src/components/ResultsTable/ResultsTable.tsx
  packages/react/src/components/ResultsTable/TableCell.tsx
  packages/react/src/components/ResultsTable/TableRow.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetTypeSelector.tsx
Due: pyright, tsc

Updated versions (#76)
  packages/python/pyproject.toml
  packages/react/package.json
Due: none

Resolve dashboard filter through derived subqueries/CTEs
  packages/python/prismiq/sql_filters.py
  packages/python/pyproject.toml
Due: pyright

Resolve dashboard filter through derived subqueries/CTEs
  packages/python/prismiq/sql_filters.py
Due: pyright

Resolve dashboard filter through derived subqueries/CTEs (#77)
  packages/python/prismiq/sql_filters.py
  packages/python/pyproject.toml
Due: pyright

Right-align numeric column headers to match cells
  packages/react/src/components/ResultsTable/TableHeader.tsx
Due: tsc

Right-align numeric column headers to match cells (#78)
  packages/react/src/components/ResultsTable/TableHeader.tsx
Due: tsc

Updated react package version
  packages/python/tests/test_sql_filters.py
  packages/react/package.json
Due: pyright

Updated react package version
  packages/python/tests/test_sql_filters.py
Due: pyright

Updated react package version (#79)
  packages/react/package.json
Due: none

Hyperlink support
  packages/react/src/components/ResultsTable/TableCell.tsx
Due: tsc

Hyperlink support (#80)
  packages/react/src/components/ResultsTable/TableCell.tsx
Due: tsc

updated react package version
  packages/react/package.json
Due: none

updated react package version (#81)
  packages/react/package.json
Due: none

LLM hint for hyperlink convention
  packages/python/prismiq/llm/prompt.py
Due: pyright

Fixed hover issue
  packages/react/src/components/ui/Tooltip.tsx
Due: tsc

Fixed hover issue (#83)
  packages/react/src/components/ui/Tooltip.tsx
Due: tsc

crm
  packages/python/prismiq/llm/prompt.py
Due: pyright

LLM hint for hyperlink convention (#82)
  packages/python/prismiq/llm/prompt.py
Due: pyright

Path conditions:
  pyright: any of: ^packages/python/.*\.py$
  tsc: any of: ^packages/react/.*\.(ts|tsx)$
