Repository statisfy-us/prismiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Prismiq
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # Ruff - linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright - type checking (local, uses uv-installed pyright)
  - repo: local
    hooks:
      - id: pyright
        name: Pyright type check
        entry: bash -c 'cd packages/python && uv run pyright'
        language: system
        files: ^packages/python/.*\.py$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: detect-private-key

  # TypeScript/React
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript check
        entry: bash -c 'cd packages/react && npm run typecheck'
        language: system
        files: ^packages/react/.*\.(ts|tsx)$
        pass_filenames: false

Viewtype functionality
  packages/react/src/api/client.ts
  packages/react/src/api/index.ts
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/index.ts
Due: tsc

Viewtype functionality
  packages/react/src/api/client.ts
  packages/react/src/context/AnalyticsProvider.tsx
Due: tsc

Dashboard filter changes
  packages/python/prismiq/dashboards.py
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/filters/MultiSelectFilter.tsx
Due: pyright, tsc

Dashboard filter changes
  packages/python/prismiq/executor.py
  packages/python/prismiq/query.py
  packages/react/src/dashboard/DashboardProvider.tsx
Due: pyright, tsc

Batching changes
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/types.ts
Due: tsc

Scroll based lazy loading
  packages/react/src/dashboard/Dashboard.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/Widget/LazyWidget.tsx
  packages/react/src/dashboard/Widget/WidgetPlaceholder.tsx
  packages/react/src/dashboard/Widget/index.ts
  packages/react/src/dashboard/index.ts
  packages/react/src/dashboard/types.ts
  packages/react/src/dashboard/useWidgetVisibility.ts
Due: tsc

Scroll based lazy loading
  packages/react/src/dashboard/Dashboard.tsx
Due: tsc

Review changes
  packages/react/src/dashboard/DashboardProvider.tsx
Due: tsc

Edit/Create widget flow improvements
  packages/python/prismiq/api.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/components/SchemaExplorer/TableNode.tsx
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/EditorToolbar.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/dashboardCache.ts
Due: pyright, tsc

fix: harden SQL quoting, parameterize search_path, and fix UI issues
  packages/python/prismiq/api.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/EditorToolbar.tsx
Due: pyright, tsc

fix: address PR review findings — search_path isolation, error handling, cleanup
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/dashboardCache.ts
Due: pyright, tsc

fix: add accessible focus-visible indicator to dashboard title input
  packages/react/src/dashboard/DashboardEditor/EditorToolbar.tsx
Due: tsc

fix: set updated_at on saved query UPDATE and refresh cache on dashboard PATCH
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: pyright, tsc

refactor: migrate saved_query_store to SQLAlchemy Core, fix search_path and widget cleanup
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
Due: pyright, tsc

Edit/Create widget flow improvements (#32)
  packages/python/prismiq/api.py
  packages/python/prismiq/persistence/postgres_store.py
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/components/SchemaExplorer/TableNode.tsx
  packages/react/src/components/ui/Dropdown.tsx
  packages/react/src/dashboard/DashboardEditor/DashboardEditor.tsx
  packages/react/src/dashboard/DashboardEditor/EditorToolbar.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardProvider.tsx
  packages/react/src/dashboard/dashboardCache.ts
Due: pyright, tsc

fix: default date granularity to day and auto-format date axis labels
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/utils/dateFormat.ts
Due: tsc

fix: prevent widget preview from being squeezed vertically in editor
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
Due: tsc

fix: default data source tab to Guided when editing a widget
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: handle count(*) measure in guided chart editor
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

feat: add TimeSeriesConfig and CalculatedFieldBuilder to Advanced QueryBuilder
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

fix: alias date_trunc and count columns for predictable result names
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

fix: use consistent 'value' alias for measures and add wildcard to options
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

fix: preserve count table_id, persist dataSourceMode, fix quarter formatting
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/utils/dateFormat.ts
Due: tsc

fix: remove wildcard option from shared measure column dropdown
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
Due: tsc

fix: default date granularity and auto-format date axis labels (#33)
  packages/react/src/components/QueryBuilder/QueryBuilder.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetPreview.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/dashboard/types.ts
  packages/react/src/utils/dateFormat.ts
Due: tsc

fix: resolve Pyright error where list method shadows builtin list type
  packages/python/prismiq/persistence/saved_query_store.py
Due: pyright

Review changes
  packages/react/src/components/FilterBuilder/FilterRow.tsx
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
  packages/react/src/dashboard/DashboardEditor/WidgetEditorPage.tsx
Due: tsc

Review changes
  packages/react/src/api/client.ts
  packages/react/src/components/TableSelector/TableSelector.tsx
  packages/react/src/context/AnalyticsProvider.tsx
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TableConfig.tsx
  packages/react/src/hooks/useSchema.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
Due: tsc

Review changes
  packages/python/prismiq/persistence/saved_query_store.py
  packages/react/src/components/FilterBuilder/FilterValueInput.tsx
Due: pyright, tsc

Review changes
  packages/react/src/dashboard/Widget/WidgetContent.tsx
Due: tsc

Review changes
  packages/react/src/api/client.ts
  packages/react/src/dashboard/DashboardProvider.tsx
Due: tsc

Fixes
  packages/python/prismiq/dashboards.py
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/Widget/WidgetContent.tsx
  packages/react/src/types.ts
  packages/react/src/utils/dateFormat.ts
  packages/react/src/utils/pivot.ts
Due: pyright, tsc

Query validation fix
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/TableConfig.tsx
Due: tsc

Query validation fix
  packages/react/src/dashboard/DashboardEditor/configs/ChartConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/MetricConfig.tsx
  packages/react/src/dashboard/DashboardEditor/configs/PieConfig.tsx
Due: tsc

ci: add npm and PyPI publishing workflows
  .github/workflows/publish-npm.yml
  .github/workflows/publish-pypi.yml
  packages/react/package.json
Due: none

ci: pin uv version in publish-pypi workflow
  .github/workflows/publish-pypi.yml
Due: none

chore: remove competitor references for open-source release
  CLAUDE.md
  ROADMAP.md
  packages/react/src/utils/dateFormat.ts
Due: tsc

chore: migrate uv dev-dependencies to dependency-groups
  packages/python/pyproject.toml
Due: none
